
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  cursor: pointer;

  >* {
    display: block;
    position: absolute;
  }
}

.back {
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  filter: blur(10px);
  inset: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.front {
  --w: calc(var(--target-width) - var(--cat-width));
  --wx: calc(var(--w) * var(--cos-a));
  --wy: calc(var(--w) * var(--sin-a));

  --h: calc(var(--target-height) - var(--cat-height));
  --hx: calc(-1 * var(--h) * var(--sin-a));
  --hy: calc(var(--h) * var(--cos-a));

  --d: calc(var(--screen-width) * var(--sin-a));
  --dx: calc(var(--d) * var(--sin-a));
  --dy: calc(-1 * var(--d) * var(--cos-a));

  --mx: calc(var(--wx) + var(--hx) + var(--dx));
  --my: calc(var(--wy) + var(--hy) + var(--dy));

  /* --beta: calc(var(--img-height) / var(--img-width)); */
  --gamma: calc((var(--cos-a) - var(--beta) * var(--sin-a)) / (var(--sin-a) + var(--beta) * var(--cos-a)));

  --xj: calc((var(--screen-height) - var(--my)) * var(--gamma) + var(--mx));
  --yk: calc((var(--screen-width) - var(--mx)) * var(--tan-a) + var(--my));
  --xi: calc((var(--screen-height) - var(--yk)) * -1 * var(--tan-a) + var(--screen-width));

  /* --x: min(var(--xj), var(--screen-width)); */
  /* --y: min(var(--yi), var(--screen-height)); */

  --x: min(var(--xi), var(--xj));
  --y: var(--screen-height);

  --nx: calc(var(--x) * var(--cos-a) + var(--y) * var(--sin-a));
  /* --ny: calc(var(--y) * var(--cos-a) - var(--x) * var(--sin-a)); */

  --sx: var(--nx);
  /* --sy: calc(var(--ny) + var(--d)); */

  --width: calc(var(--sx) - var(--w));

  width: var(--width);
  height: calc(var(--width) * var(--beta));

  left: 0;
  top: 0;
  
  /* object-fit: contain; */
  background-size: contain;

  /* padding-bottom: calc(var(--screen-width) * var(--sin-a) - var(--cat-width) * var(--tan-a)); */
  /* padding-right: 0px; */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
