
.icon {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.chat {
  position: absolute;
  bottom: 120px;
  right: 40px;
  width: 240px;
  height: 400px;
  background-color: red;
  color: white;
}
