
.code-editor {
  flex-grow: 1;
  position: relative;

  .the-code {
    --rotcont-gap: 0rem;
    --rotcont-height: calc(2rem);

    font-family: monospace;

    padding: 0.5rem;

    position: absolute;
    inset: 0;
    overflow: scroll;
  }

  .line {
    display: block;
    font-family: inherit;
  }
}
