
.windowed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: row;

  position: absolute;
  inset: 0;
  top: var(--toolbar-height);

  .inner2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .inner3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >* {
      flex-grow: 1;
    }
  }
}

.terminal {
  background-color: black;
}
