
.windowed {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  pointer-events: none; 

  >* {
    pointer-events: auto;
  }
}

.app {
  --screen-width: 100vw;
  --screen-height: calc(100vh - var(--toolbar-height));

  display: flex;
  flex-direction: row;

  transform: translateY(var(--toolbar-height)) rotate(var(--angle));

  position: absolute;
  --target-width: calc(var(--screen-width) * cos(var(--angle-2)) + var(--screen-height) * sin(var(--angle-2)));
  --target-height: calc(var(--screen-width) * sin(var(--angle-2)) + var(--screen-height) * cos(var(--angle-2)));

  --px: calc((var(--screen-width) - var(--target-width)) / 2);
  --py: calc((var(--screen-height) - var(--target-height)) / 2);
  inset: var(--py) var(--px);

  width: var(--target-width);
  height: var(--target-height);

  .inner2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .inner3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >* {
      flex-grow: 1;
    }
  }
}

.app {
  --angle-2: var(--angle);
}
:global(.angle-inverted) .app {
  --angle-2: calc(var(--angle) * -1);
}

.terminal {
  background-color: black;
}
