@import "./rotated.scss";

:root {
  --color-background: #111111;
  --color-file-picker: #222222;
  --color-tool-bar: #333333;
  --border-radius: 5px;
  --angle: 60deg;
}

body.counter-rotate {
  transform: rotate(calc(-1 * var(--angle))) scale(0.5);
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: sans-serif;
}

#root {
  // So that any children position: absolute is relative to the root
  position: relative;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

pre {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}
