
/*
to-set:
  // gap between elements
  --gap: 0.5rem;
  // width of the container
  --container-width: 250px;
  // width of each element
  --width: calc(var(--container-width) - var(--gap) * 2);
  // height of each element
  --height: calc(2rem);
*/
.rotated-container {
  display: block;
  width: var(--container-width);

  display: flex;
  flex-direction: column;

  --hc: calc((var(--gap) + var(--height)) / cos(var(--angle)));
  gap: calc(var(--hc) - var(--height));

  >.rotated-element {
    --dl: calc(var(--height) * tan(var(--angle)));
    height: var(--height);
    width: calc(100% / cos(var(--angle)) - var(--dl));

    transform: rotate(var(--angle));
    transform-origin: bottom left;
  }
}
